services:
  - type: web
    name: medium-clone-laravel
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        sync: false
      - key: APP_URL
        sync: false
      - key: LOG_CHANNEL
        value: stderr
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: medium-db
          property: connectionString
    postDeployCommand: |
      php artisan config:clear
      php artisan cache:clear
      php artisan storage:link || true
      php artisan migrate --force
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache

databases:
  - name: medium-db
    plan: free
    databaseName: medium
    user: medium

